<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.webmin.tunnelsystem</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/webmin-tunnels/webmin-tunnel-system.sh</string>
        <string>start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/webmin-tunnel.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/webmin-tunnel-error.log</string>
    <key>WorkingDirectory</key>
    <string>/opt/webmin-tunnels</string>
</dict>
</plist>
