[Unit]
Description=Timer for AWS Cost Optimization - Daily execution
Requires=cost-optimization.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target