apiVersion: 1
datasources:
  - name: AWS Cost Monitoring
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: false
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
    secureJsonData:
      # No authentication needed for local Prometheus