name=RI Automation
desc=Reserved Instances Automation - FREE
category=system
longdesc=Automated analysis and recommendations for AWS Reserved Instances - Completely FREE
author=Yunyi Minaya
created={{ ansible_date_time.iso8601 }}
version=FREE-1.0.0
depends=virtualmin
os_support=debian ubuntu centos rhel